<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="">  </td>
      </ng-container>
      <ng-container matColumnDef="">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="">  </td>
      </ng-container>
      <ng-container matColumnDef="">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="">  </td>
      </ng-container>
</table>
